<div id="<%= dom_id offer %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Item:</strong>
    <%= offer.item_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Offered by:</strong>
    <%= offer.offered_by_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Offered item text:</strong>
    <%= offer.offered_item_text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= offer.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Accepted at:</strong>
    <%= offer.accepted_at %>
  </div>
</div>
