<div id="<%= dom_id item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= item.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= item.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= item.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= item.user_id %>
  </div>
</div>
